/* .wrapper {
} */

.user-wrapper {
    max-width: 1000px;
}

.user-wrapper-inner {
    /* width: 400px;
    height: 400px; */
    /* background-color: black; */
}


.cr-container {
    position: relative;
}

.cr-edit-box {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.cr-img {
    position: relative;
}

.cr-shape {
    pointer-events: none;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
}



