.cr_container {
    position: relative;
}

.cr_edit_box {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.cr_img {
    position: relative;
}

.cr_shape {
    pointer-events: none;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
}
